<table class="table" id='tab' border="1px">
    <thead>
    <tr>
        <th scope="col">Mission Name</th>
        <th scope="col">Mission ID</th>
        <th scope="col">Manufacturers</th>
        <!-- <th scope="col">Payload ID's</th> -->
        <th scope="col">Wikipedia</th>
        <th scope="col">Twitter</th>
        <!-- <th scope="col">Description</th> -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of li;">
        <td>{{ e.mission_name }}</td>
        <td>{{ e.mission_id }}</td>
        <td>{{ e.manufacturers }}</td>
        <!-- <td>{{ e.payload_ids }}</td> -->
        <td>{{ e.wikipedia }}</td>
        <td>{{ e.twitter }}</td>
        <!-- <td>{{ e.description }}</td> -->
    </tr>
    </tbody>
</table>
