h1{
    padding-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input{
    font-family: 'Merriweather', serif;
    border: 1px solid rgba(0, 2, 12, 0.897);
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(238, 226, 226, 0.466);
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px 20px;
    width: 50%;
    margin-right: 20px;
}